workflows/CanvasToCalendar_Fixed.json
{
  "updatedAt": "2026-03-13T18:39:17.259Z",
  "createdAt": "2026-03-10T15:00:01.512Z",
  "id": "0bg06p4pCDvkp2YL",
  "name": "CanvasToCalendar_Fixed",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "f9d25466-723c-4da2-a4df-f47ba351102e",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1360,
        512
      ]
    },
    {
      "parameters": {
        "returnAll": true,
        "filters": {
          "enrollment_term_id": "1048",
          "state": [
            "available"
          ]
        }
      },
      "id": "a426f72e-a6d1-4211-8d18-4a016b60a850",
      "name": "Get many courses",
      "type": "n8n-nodes-canvas-lms.canvasLms",
      "typeVersion": 1,
      "position": [
        -1152,
        512
      ],
      "credentials": {
        "canvasApi": {
          "id": "c8NXgQ2TglLdRqOt",
          "name": "Canvas LMS account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().filter(item => {\n  const data = item.json;\n  const isCorrectTerm = data.enrollment_term_id === 1048;\n  const isActive = data.enrollments && data.enrollments.length > 0 && data.enrollments[0].enrollment_state === 'active';\n  const isPublished = data.workflow_state === 'available';\n  return isCorrectTerm && isActive && isPublished;\n});"
      },
      "id": "47ca9a76-050f-4383-ba81-cb3583770e21",
      "name": "Term & Status Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        512
      ]
    },
    {
      "parameters": {
        "resource": "assignment",
        "courseId": "={{ $json.id }}",
        "returnAll": true,
        "filters": {
          "bucket": "future"
        }
      },
      "id": "bb863088-2b6d-4816-b942-86e139a0cf40",
      "name": "Get many assignments",
      "type": "n8n-nodes-canvas-lms.canvasLms",
      "typeVersion": 1,
      "position": [
        -800,
        512
      ],
      "credentials": {
        "canvasApi": {
          "id": "c8NXgQ2TglLdRqOt",
          "name": "Canvas LMS account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const data = item.json;\n  const assignmentName = data.name.trim();\n  const courseId = data.course_id;\n  const dueDate = new Date(data.due_at);\n  let schedule = { days: [], start: \"\" };\n  let colorId = \"1\";\n  if (courseId === 1229212 || courseId === 1210923) { schedule = { days: [1, 3, 5], start: \"10:30:00\" }; colorId = \"3\"; }\n  else if (courseId === 1229214) { schedule = { days: [2, 4], start: \"16:45:00\" }; colorId = \"1\"; }\n  else if (courseId === 1229216) { schedule = { days: [2, 4], start: \"18:45:00\" }; colorId = \"4\"; }\n  else if (courseId === 1210774) { schedule = { days: [1, 3, 5], start: \"08:30:00\" }; colorId = \"5\"; }\n  else if (courseId === 1211788) { schedule = { days: [2, 4], start: \"08:30:00\" }; colorId = \"8\"; }\n  else { schedule = { days: [1, 2, 3, 4, 5], start: \"09:00:00\" }; colorId = \"1\"; }\n  const isProject = /project|exam|paper/i.test(assignmentName);\n  const leadDays = isProject ? 5 : 2;\n  let targetDate = new Date(dueDate);\n  targetDate.setDate(targetDate.getDate() - leadDays);\n  let attempts = 0;\n  while (!schedule.days.includes(targetDate.getDay()) && attempts < 7) { targetDate.setDate(targetDate.getDate() - 1); attempts++; }\n  const dateStr = targetDate.toISOString().split('T')[0];\n  const startTime = new Date(`${dateStr}T${schedule.start}`);\n  const endTime = new Date(startTime.getTime() + 30 * 60000);\n  const endClock = endTime.toTimeString().split(' ')[0];\n  return {\n    json: {\n      originalName: assignmentName,\n      colorId: colorId,\n      startDate: `${dateStr}T${schedule.start}-06:00`,\n      endDate: `${dateStr}T${endClock}-06:00`,\n      calendarSearchQuery: assignmentName\n    }\n  };\n});"
      },
      "id": "6513b1f3-852e-43c3-abf8-375496edb533",
      "name": "Logic & Translation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -608,
        512
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ef9d3b4670847ca46d560c02228cd4adb9e6ba7232e9539f319835e9e8795e4e@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Canvas Automation"
        },
        "returnAll": true,
        "options": {
          "query": "\"summary:\\\"\" + $json.calendarSearchQuery + \"\\\"\""
        }
      },
      "id": "28623943-2136-4a4b-8fc2-f65fb3c59f79",
      "name": "Check for Duplicate",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        -368,
        624
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "IqtUVu43S38UGEMS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "89b6157c-0d6c-4825-8583-aa1dc0f61960",
      "name": "If New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        48,
        528
      ]
    },
    {
      "parameters": {
        "calendar": "ef9d3b4670847ca46d560c02228cd4adb9e6ba7232e9539f319835e9e8795e4e@group.calendar.google.com",
        "start": "={{ $node[\"Logic & Translation\"].json.startDate }}",
        "end": "={{ $node[\"Logic & Translation\"].json.endDate }}",
        "additionalFields": {
          "color": "={{ $node[\"Logic & Translation\"].json.colorId }}",
          "summary": "={{ $node[\"Logic & Translation\"].json.originalName }}"
        }
      },
      "id": "68a6e50a-9964-4108-9479-eb4c2071294c",
      "name": "Add to Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        272,
        512
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "IqtUVu43S38UGEMS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "originalName",
              "field2": "summary"
            }
          ]
        },
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -128,
        528
      ],
      "id": "d4d0f923-1e48-4e5c-8812-5dd6ef118aa9",
      "name": "Merge"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many courses": {
      "main": [
        [
          {
            "node": "Term & Status Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Term & Status Filter": {
      "main": [
        [
          {
            "node": "Get many assignments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many assignments": {
      "main": [
        [
          {
            "node": "Logic & Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic & Translation": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If New?": {
      "main": [
        [
          {
            "node": "Add to Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6ac677c3-f7f2-459e-ab3f-66259171386c",
  "activeVersionId": null,
  "versionCounter": 563,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-10T15:00:01.516Z",
      "createdAt": "2026-03-10T15:00:01.516Z",
      "role": "workflow:owner",
      "workflowId": "0bg06p4pCDvkp2YL",
      "projectId": "P6ys2Fsi0z5zQ5xa",
      "project": {
        "updatedAt": "2026-02-27T06:42:35.702Z",
        "createdAt": "2026-02-27T06:38:26.243Z",
        "id": "P6ys2Fsi0z5zQ5xa",
        "name": "Ben benhyer333@gmail.com <benhyer333@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "580fba81-845c-498f-b483-012edba50d69"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}