workflows/SOP to Job Plan.json
{
  "updatedAt": "2026-07-14T02:31:52.580Z",
  "createdAt": "2026-07-06T02:07:18.140Z",
  "id": "vjGuz3Tf0e8F2NPT",
  "name": "SOP to Job Plan",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        -224
      ],
      "id": "fc3d6049-2224-4cac-9c6a-1e9558efcd97",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "={{ JSON.stringify($json.response.output) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -240,
        80
      ],
      "id": "bd97a0a8-8f7a-42fb-949f-066e2086d86d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "// Import n8n's native mammoth library to parse docx files\nconst mammoth = require('mammoth');\n\nconst items = $input.all();\nconst returnData = [];\n\nfor (let i = 0; i < items.length; i++) {\n  // 1. Target the binary file named 'data' from the Google Drive node\n  const binaryPropertyName = 'data';\n  \n  if (!items[i].binary || !items[i].binary[binaryPropertyName]) {\n    throw new Error(\"No binary data found under the property 'data'. Verify your Google Drive node output connection.\");\n  }\n\n  // 2. Use n8n's native helper function to extract the file stream safely into a buffer\n  const fileBuffer = await this.helpers.getBinaryDataBuffer(i, binaryPropertyName);\n\n  // 3. Configure options to drop embedded images from the text stream cleanly\n  const options = {\n    convertImage: mammoth.images.imgElement(function(image) {\n      return {}; \n    })\n  };\n\n  // 4. Extract plain text from the Word document layout\n  const result = await mammoth.extractRawText({ buffer: fileBuffer }, options);\n  const textContent = result.value;\n\n  // 5. Package the text content and filename for the DeepSeek AI model\n  returnData.push({\n    json: {\n      text: textContent,\n      name: items[i].binary[binaryPropertyName].fileName || \"unknown_sop.docx\"\n    }\n  });\n}\n\nreturn returnData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -224
      ],
      "id": "84988647-ad85-4eb8-b297-19c58eae552d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "128nnSv-cEW-s7Xeqda9y6zvBPIduBMeb",
          "mode": "list",
          "cachedResultName": "41. Sprinklers - 250 East Carol Way Well.docx",
          "cachedResultUrl": "https://docs.google.com/document/d/128nnSv-cEW-s7Xeqda9y6zvBPIduBMeb/edit?usp=drivesdk&ouid=105572141204134855278&rtpof=true&sd=true"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -576,
        -224
      ],
      "id": "591956fe-7826-4707-95df-aeab8184575c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p4T79rvnG3yMfaf6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.job_plan_filename }}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1GczwBBaMfoCVEqWtFycuA86bTykpd-NG",
          "mode": "list",
          "cachedResultName": "Job Plans",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GczwBBaMfoCVEqWtFycuA86bTykpd-NG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        80
      ],
      "id": "aca0046e-0c0c-4890-b80f-b6a4efa81870",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p4T79rvnG3yMfaf6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: JSON.parse($input.first().json.choices[0].message.content) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        80
      ],
      "id": "813b7d75-952e-40e3-9e9e-d9e481aa11b3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"deepseek-ai/deepseek-v4-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert technical writer specializing in industrial maintenance and operations training. Your job is to ingest a legacy Standard Operating Procedure (SOP) and completely map its contents into a structured, comprehensive Job Plan JSON object matching all template requirements. You must respond with a valid raw JSON object ONLY. Do not include markdown code block formatting.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"File Name: {{ $json.name }}\\n\\nSOP Content:\\n{{ $json.text }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -800,
        80
      ],
      "id": "fd12f533-c019-4465-a954-41bc995af4b2",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e9b58d39-9ded-487d-af1d-b558d46e6806",
  "activeVersionId": null,
  "versionCounter": 286,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-06T02:07:18.146Z",
      "createdAt": "2026-07-06T02:07:18.146Z",
      "role": "workflow:owner",
      "workflowId": "vjGuz3Tf0e8F2NPT",
      "projectId": "P6ys2Fsi0z5zQ5xa",
      "project": {
        "updatedAt": "2026-02-27T06:42:35.702Z",
        "createdAt": "2026-02-27T06:38:26.243Z",
        "id": "P6ys2Fsi0z5zQ5xa",
        "name": "Ben benhyer333@gmail.com <benhyer333@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "580fba81-845c-498f-b483-012edba50d69"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}