workflows/SOP to Job Plan.json
{
  "updatedAt": "2026-07-08T03:43:22.427Z",
  "createdAt": "2026-07-06T02:07:18.140Z",
  "id": "vjGuz3Tf0e8F2NPT",
  "name": "SOP to Job Plan",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Original File Name: {{ $json.name }}\nSOP Text Content: {{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert technical writer specializing in industrial maintenance and operations training. Your job is to ingest a legacy Standard Operating Procedure (SOP) and completely map its contents into a structured, comprehensive Job Plan JSON object matching all template requirements.  You must respond with a valid raw JSON object ONLY. Do not include markdown code block formatting (like ```json). Just start with { and end with }.  CRITICAL EXTRACTION RULES: 1. Document Identifiers: - \"job_plan_filename\": Calculate using the input document name. Strip out 'SOP' or 'sop'. Keep the leading numeric prefix intact, and insert 'Job Plan' right after the number. (e.g., \"41. Sprinklers...\" becomes \"41. Job Plan Sprinklers...\") - \"job_plan_id_name\": Extract and combine the primary Activity and Site Location (e.g., \"Sprinklers - 250 East Carol Way Well\"). - Ignore legacy headers: Division, Revised by, Effective Date, and Section.  2. Approvals & Scope: - \"approved_by\": Identify the name next to \"Approved By:\". Output null if blank or missing. - \"purpose_scope\": Extract or summarize the purpose/scope of the operation from the SOP text.  3. Administrative Sections (Prep, Safety, References): - Scrutinize the SOP for pre-execution steps, system isolations, or setup steps to populate \"preparation_work\". - Extract any PPE requirements, hazards, or warnings to populate \"safety_requirements\". - Extract any external manuals or documents mentioned to populate \"references\". - If any of these sections are absent in the SOP, set them to null.  4. Maintenance Task Details (The Table Steps): - Break down dense text blocks into individual chronological actions. - Separate Phases: Automatically detect separate execution phases (e.g., \"ON Procedures / OFF Procedures\", \"Spring Start Up / Fall Shut Down\"). Insert an element at the start of that phase where \"is_section_header\" is true, and \"section_name\" holds the phase title in ALL CAPS. - Regular Steps: Set \"is_section_header\" to false. Restart the \"order\" count at 1 for each new phase. - \"task\": Create a punchy action phrase consisting of exactly 2 to 4 words. - \"description\": Write simple, linear instructions for a brand-new employee. Keep asset parameters verbatim (brands, sizes, unique tools like \"fork key\"). Retain image file name references verbatim.  5. Resources Tables (Labor, Training, Materials, Tools): - Extract any mentions of required crew sizes, trades, or estimated times into the \"labor_information\" array. - Extract specialized certifications or safety training mentioned into \"training_requirements\". - Extract required replacement parts or consumables into \"materials\". - Extract required specialized gear (e.g., \"compressor adapter\", \"fork key\") into the \"tools\" array. - If no data exists for a resources table, return an empty array [].  OUTPUT SCHEMA: Return data matching this key layout: {   \"job_plan_filename\": \"string\",   \"job_plan_id_name\": \"string\",   \"purpose_scope\": \"string\",   \"approved_by\": \"string or null\",   \"preparation_work\": \"string or null\",   \"safety_requirements\": \"string or null\",   \"maintenance_tasks\": [     { \"is_section_header\": boolean, \"section_name\": \"string or null\", \"order\": integer or null, \"task\": \"string or null\", \"description\": \"string\" }   ],   \"labor_information\": [],   \"training_requirements\": [],   \"materials\": [],   \"tools\": [],   \"references\": \"string or null\" }\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -704,
        96
      ],
      "id": "5a016217-97ab-452a-b3b6-418b5ac2a1a6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        -160
      ],
      "id": "fc3d6049-2224-4cac-9c6a-1e9558efcd97",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "={{ JSON.stringify($json.response.output) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -176,
        96
      ],
      "id": "bd97a0a8-8f7a-42fb-949f-066e2086d86d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-ai/deepseek-v4-pro",
          "mode": "list",
          "cachedResultName": "deepseek-ai/deepseek-v4-pro"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 16384,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -704,
        272
      ],
      "id": "198ba7ff-091a-4def-874f-692b1eaf3c4e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LmYJtCROqZil0L6l",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Import n8n's native mammoth library to parse docx files\nconst mammoth = require('mammoth');\n\nconst items = $input.all();\nconst returnData = [];\n\nfor (let i = 0; i < items.length; i++) {\n  // 1. Target the binary file named 'data' from the Google Drive node\n  const binaryPropertyName = 'data';\n  \n  if (!items[i].binary || !items[i].binary[binaryPropertyName]) {\n    throw new Error(\"No binary data found under the property 'data'. Verify your Google Drive node output connection.\");\n  }\n\n  // 2. Use n8n's native helper function to extract the file stream safely into a buffer\n  const fileBuffer = await this.helpers.getBinaryDataBuffer(i, binaryPropertyName);\n\n  // 3. Configure options to drop embedded images from the text stream cleanly\n  const options = {\n    convertImage: mammoth.images.imgElement(function(image) {\n      return {}; \n    })\n  };\n\n  // 4. Extract plain text from the Word document layout\n  const result = await mammoth.extractRawText({ buffer: fileBuffer }, options);\n  const textContent = result.value;\n\n  // 5. Package the text content and filename for the DeepSeek AI model\n  returnData.push({\n    json: {\n      text: textContent,\n      name: items[i].binary[binaryPropertyName].fileName || \"unknown_sop.docx\"\n    }\n  });\n}\n\nreturn returnData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -160
      ],
      "id": "84988647-ad85-4eb8-b297-19c58eae552d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "128nnSv-cEW-s7Xeqda9y6zvBPIduBMeb",
          "mode": "list",
          "cachedResultName": "41. Sprinklers - 250 East Carol Way Well.docx",
          "cachedResultUrl": "https://docs.google.com/document/d/128nnSv-cEW-s7Xeqda9y6zvBPIduBMeb/edit?usp=drivesdk&ouid=105572141204134855278&rtpof=true&sd=true"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        -160
      ],
      "id": "591956fe-7826-4707-95df-aeab8184575c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p4T79rvnG3yMfaf6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.job_plan_filename }}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1GczwBBaMfoCVEqWtFycuA86bTykpd-NG",
          "mode": "list",
          "cachedResultName": "Job Plans",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GczwBBaMfoCVEqWtFycuA86bTykpd-NG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        96
      ],
      "id": "aca0046e-0c0c-4890-b80f-b6a4efa81870",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p4T79rvnG3yMfaf6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: JSON.parse($input.first().json.text) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        96
      ],
      "id": "813b7d75-952e-40e3-9e9e-d9e481aa11b3",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4bdceb2f-b33e-4372-a704-98253806708d",
  "activeVersionId": null,
  "versionCounter": 242,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-06T02:07:18.146Z",
      "createdAt": "2026-07-06T02:07:18.146Z",
      "role": "workflow:owner",
      "workflowId": "vjGuz3Tf0e8F2NPT",
      "projectId": "P6ys2Fsi0z5zQ5xa",
      "project": {
        "updatedAt": "2026-02-27T06:42:35.702Z",
        "createdAt": "2026-02-27T06:38:26.243Z",
        "id": "P6ys2Fsi0z5zQ5xa",
        "name": "Ben benhyer333@gmail.com <benhyer333@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "580fba81-845c-498f-b483-012edba50d69"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}