workflows/SOP to Job Plan.json
{
  "updatedAt": "2026-07-07T00:16:34.307Z",
  "createdAt": "2026-07-06T02:07:18.140Z",
  "id": "vjGuz3Tf0e8F2NPT",
  "name": "SOP to Job Plan",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -16,
        -144
      ],
      "id": "5a016217-97ab-452a-b3b6-418b5ac2a1a6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        -160
      ],
      "id": "fc3d6049-2224-4cac-9c6a-1e9558efcd97",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "get",
        "getParameters": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        -496,
        -160
      ],
      "id": "fe9cf64a-6040-45e4-ba72-fb9a058f8f4f",
      "name": "Get object data or metadata"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -304,
        -160
      ],
      "id": "35bf61f3-a919-4b5e-bdc8-782d9f6c9888",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        128,
        48
      ],
      "id": "c56649bb-775e-4914-a8cb-6b8c01f73895",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "={{ JSON.stringify($json.output) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        336,
        -144
      ],
      "id": "bd97a0a8-8f7a-42fb-949f-066e2086d86d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-ai/deepseek-v4-pro",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        48
      ],
      "id": "198ba7ff-091a-4def-874f-692b1eaf3c4e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LmYJtCROqZil0L6l",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Convert to File": {
      "main": [
        []
      ]
    },
    "Get object data or metadata": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get object data or metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7099cea8-3f15-426e-abae-f6e0173d4f02",
  "activeVersionId": null,
  "versionCounter": 84,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-06T02:07:18.146Z",
      "createdAt": "2026-07-06T02:07:18.146Z",
      "role": "workflow:owner",
      "workflowId": "vjGuz3Tf0e8F2NPT",
      "projectId": "P6ys2Fsi0z5zQ5xa",
      "project": {
        "updatedAt": "2026-02-27T06:42:35.702Z",
        "createdAt": "2026-02-27T06:38:26.243Z",
        "id": "P6ys2Fsi0z5zQ5xa",
        "name": "Ben benhyer333@gmail.com <benhyer333@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "580fba81-845c-498f-b483-012edba50d69"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}